<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS7/091-9459.20130918.Fre43/iPhone3,3_7.0_11A465_Restore.ipsw</string>
		<key>Version</key>
		<string>7.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>d4ca7e1f04987ad8aba504aebc6c322f</string>
			<key>Key</key>
			<string>0f784be074c3655e3fdf62aa35a404cfea2b99c07e4262769256c00c1290b812</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>aaff8f992ecb0ca5617dfbcc71513232</string>
			<key>Key</key>
			<string>5bd1ce62399982911abd16d0447d3a7358e264c9ed0af1e0d8233ab64fbda2f0</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>7078f91525216ec1e92663fc8596f8a0</string>
			<key>Key</key>
			<string>f7a578ab5b44dccf02e21b92db716b62fa48a54b068a7cc3f89d7d1a1e40b455</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a55296d09345e6de1752c61adb2f7a1b</string>
			<key>Key</key>
			<string>1157f4ec0f313850accc6081cc3f605314171acac18509cee99cd09706caf0a4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>2831484e4671dc4ece842a8d41e5c0d0</string>
			<key>Key</key>
			<string>c6f24cc048fa455fedd789c89c6302accb2f129a3ebf11b525f4dcecc39a5cec</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>f6c0d4528896a16a5068d5049d6d2faa</string>
			<key>Key</key>
			<string>66b89e40cb8bad0ef4b6b26e02c1c7f19a68911b61814905963413d113c71f01</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>279eea0b09cb3c457b6899fa050186be</string>
			<key>Key</key>
			<string>07bab5c3b8994b3cba70758476761292ab80775e0df3560317d90496b47f9885</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>a84be876864d98c1d5fd370733d1b812</string>
			<key>Key</key>
			<string>ba4919c22f2f309ed915680d2202146760f2e43ff202f3e602fe5cb96c99a57f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>2c449483c39adf527b19b546999c5f29</string>
			<key>Key</key>
			<string>f04969fb618cc4bbeda3a400eb7428d76d2f31ed24700b66bf9b5c3c17d12122</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>06899308d1928f6d25e7bd3cbdc6c1e7</string>
			<key>Key</key>
			<string>238ddc779fe76c655c05d45b4f4f3d94798f5a712c2a1368da14930cd256326a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1b997aeac41d67f5078f3b9a15caaa3c</string>
			<key>Key</key>
			<string>c025fe57f2a651ab209d171b590a249d566afda1d27010522ba85ee578dee913</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>ce45273154bae17932d91ef7c0d29fa1</string>
			<key>Key</key>
			<string>58f9c609b3e612b4eb63c56bd4b3bf2ce59fc823f8c680ceb77b5e86402dc62c</string>
		</dict>
	</dict>
</dict>
</plist>
