<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>FirmwareInfo</key>
		<dict>
			<key>URL</key>
			<string>http://appldnld.apple.com/iOS7/031-1038.20131022.Llkit/iPhone3,1_7.0.3_11B511_Restore.ipsw</string>
			<key>Version</key>
			<string>7.0.3</string>
		</dict>
		<key>FirmwareKeys</key>
		<dict>
			<key>AppleLogo</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>5ffc828fe18f967778322463a2d864da</string>
				<key>Key</key>
				<string>f639b703bc74a5e246e2362a78358b1a960f92daa50622c6ed08f719f573ba16</string>
			</dict>
			<key>BatteryCharging0</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>e03f7531fd425fe448082cc49c93bf90</string>
				<key>Key</key>
				<string>56fd73be95026a5052e0a201001eae93ba681c12b1dd43ee8793ad5d8916f4c5</string>
			</dict>
			<key>BatteryCharging1</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>c5a9f952b04d360aa0f246dc491a8478</string>
				<key>Key</key>
				<string>cf15962a69a1dbe4776afbc00e0879610caf1edb98cd274399368b48fa10aa7b</string>
			</dict>
			<key>BatteryFull</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>1b4833424d872bd53274c559cd77557e</string>
				<key>Key</key>
				<string>9ff4712f4ba8a4fe778a18537e3d3ab6c1b398c920c2b37edc13bde15d0f2aa2</string>
			</dict>
			<key>BatteryLow0</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>7154bf5e9dfc9417e7ceecc0bdda8a86</string>
				<key>Key</key>
				<string>063edd1342abb5df052e4e99939561b9699482f783676e6d8419381b8822e6f0</string>
			</dict>
			<key>BatteryLow1</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>cdc79c8c2dd451e05776397ac8553c8b</string>
				<key>Key</key>
				<string>7eace5ccf08b7ee754923feba7927378110ee2f33d42e1cb3cdd7c5e9db0e20f</string>
			</dict>
			<key>DeviceTree</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
				<key>IV</key>
				<string>7f60c36fe2ba9b15e54d908a7f7abf63</string>
				<key>Key</key>
				<string>24f0884ec03793ebe440143febf2cd73f9bd82ebba0f03c5f55330c3341fc4e4</string>
			</dict>
			<key>GlyphPlugin</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
				<key>IV</key>
				<string>614d46c7a0358f50f8000f13d3e37c28</string>
				<key>Key</key>
				<string>41a15d0e6823b3892d94a43ff748287c92759634d05a37aceb4fb17f638868db</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
				<key>IV</key>
				<string>bdb2d905dd62be4522ef218d45c336eb</string>
				<key>Key</key>
				<string>f81c84e4f5341c3db398b21777980c76debef338f178a98e39bae8356fcbf48c</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
				<key>IV</key>
				<string>7cb97df787dcc6367816b03492b225f9</string>
				<key>Key</key>
				<string>bd56f0886e21f233f519d4db20fd044b9208882a6fb791553a75eb4e0c45bbc5</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
				<key>IV</key>
				<string>64b88ee32d5408c4b14e7b662d3c8c3a</string>
				<key>Key</key>
				<string>9a7ffea41cafbd12c03331e75c1f486dbc1aae84bc26d461064765076358ecd7</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>FileName</key>
				<string>kernelcache.release.n90</string>
				<key>IV</key>
				<string>6fc1cb7e062ac51924e33ee60cc68f5b</string>
				<key>Key</key>
				<string>f7f3dca09cc19bb7ef7225d7f0a93606e0adbc4471931f674dcc80780aa24907</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
				<key>IV</key>
				<string>2c21d4ee12b49b6823f6ce7568af555c</string>
				<key>Key</key>
				<string>64f657a4b3b74c5643ddc5d50f34a2c75a74424eec956f5e09b995a288efd17a</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
				<key>IV</key>
				<string>f02ba7f31a754218fead00ca96120f89</string>
				<key>Key</key>
				<string>5c522dbfbc30a6915536298fb6cf86dd1f9f4827b21bb7395bb220d94948347a</string>
			</dict>
			<key>FileSystem</key>
			<dict>
				<key>FileName</key>
				<string>058-0341-002.dmg</string>
				<key>VFDecryptKey</key>
				<string>068a78da89bc628dd488f7c0cfdc795aa6ac6ae484b6f7c579eecac54290501ee90a71ea</string>
			</dict>
		</dict>
	</dict>
</plist>
