<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-4333.20140310.ZXCj3/iPhone3,3_7.1_11D167_Restore.ipsw</string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>e207bd2bb14ef48628cfc4809ef93e4b</string>
			<key>Key</key>
			<string>f43e2363f0b314dae406eb61d7ee24c51390a0bce1b92bd0dc73a67643d0bb4b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>12c6df1a6876213f0e95acf3a0c936a6</string>
			<key>Key</key>
			<string>d6c44f41e6bf83bb2b2c46e5ea3839b97f454b62de3b1028dcef88cb45ef4168</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>38a2f1e5ad9445794234a5458c4d779b</string>
			<key>Key</key>
			<string>57b64d9e4eeb3b36b25865225fafabc5f5acb8d8be53bca3585efe6b97966e1b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>dca76eee01f480fa1d6ac6aa919c425e</string>
			<key>Key</key>
			<string>8815f05d2af5defc283fba7df29ec29a1cee93d09334b2d47b32f106c6e5b09c</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>1b7600a8e2ac590e70b68b5d8cb63adc</string>
			<key>Key</key>
			<string>5315929e38efea86caadd8d9ec2949f1c0f0072d517701ea8539cf01c224767e</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>0059c7ab08e15104f4cb8b3b2fd86e9c</string>
			<key>Key</key>
			<string>d1f3b4eceb7f1d80ce1992376ad3c2d1c6077b05d173ffc150da461af83f8496</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>8ccd4976c3ceff11797952b6bc5d11b1</string>
			<key>Key</key>
			<string>0e497757998788fb7aad057c41c7fa255068c7f5d64b67d434500c932620e8dc</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-4110-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>26ee278e33a33d15d1087210704e7cb420504eb41f346f878fd84c11276edc199a42ed1c</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>9bc7ec89e66bb12b17aeafaa368abede</string>
			<key>Key</key>
			<string>e3e9bd1dc2d806eddd4d9457731b9654c8f07807e748fe86682f988796e46c19</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>4fa0480efb2cececce63d67fd53cc4ed</string>
			<key>Key</key>
			<string>c77c73affdf7994124dbae399bef653cbb0468a6b5daefd6ae6a18af9fa2c4b6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>8aababd252977cacfe7c5705959c0864</string>
			<key>Key</key>
			<string>fc424bb220a4805ae88b4b179334c18696229364a8416c85399d5ff0cb1ca7bd</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>9d599763f090db2c53e9bdb23f9e2200</string>
			<key>Key</key>
			<string>2a248f817574d1da7d632b2277eb0d9a299f18eb03b408484ee1bc790cfcf921</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6a1a43d63202563841b9c6b42b53a9bd</string>
			<key>Key</key>
			<string>998c4af0ef2fb4b85ea58856339fe8bc19adf99c559a4b42c584dcabf162f781</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b5bcec560870cd4d4781e6f6a3a02517</string>
			<key>Key</key>
			<string>9eb7f90102ec5b377cdc86a7d95396b52afb29e289684649d1a1e1d131e0c620</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>42fbdd25a1885bde16ff1213118dea83</string>
			<key>Key</key>
			<string>48ebd367f49cea2377f5b368e0c148aaf84a8378bec67a720c4e3a885be19577</string>
		</dict>
	</dict>
</dict>
</plist>
