<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>FirmwareInfo</key>
		<dict>
			<key>URL</key>
			<string>http://appldnld.apple.com/iOS7/091-9821.20130924.jJ61o/iPhone3,2_7.0.2_11A501_Restore.ipsw</string>
			<key>Version</key>
			<string>7.0.2</string>
		</dict>
		<key>FirmwareKeys</key>
		<dict>
			<key>AppleLogo</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/applelogo@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>8aff845bf509596849378a95c1886929</string>
				<key>Key</key>
				<string>45c4a90d7ad31142ba74a540dacfc18d394b9e915e5ebe63f1bbc8ab65e9e0aa</string>
			</dict>
			<key>BatteryCharging0</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>e514cf889d2ca7bcb732211384ba7eb4</string>
				<key>Key</key>
				<string>22f25a0d8467518235e3bd6fcc1df8956a924d54dc3c258317a51843d10c47d6</string>
			</dict>
			<key>BatteryCharging1</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>d3e9cf59f01dddc0cba739c9d0821e04</string>
				<key>Key</key>
				<string>437ac2ca6e965055c84e5c1dcbd8c9be6ccc330a638403d26e0ca10aae3655b9</string>
			</dict>
			<key>BatteryFull</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>39664bd44d34b22b2e55e62031503cad</string>
				<key>Key</key>
				<string>1d1e7aa8f5d62188aefe209c9b53beab3d8744506ccd86a9efb5c636322f4b08</string>
			</dict>
			<key>BatteryLow0</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>d36d9b664f1341000dec1893bb9836c3</string>
				<key>Key</key>
				<string>0ec651c99975a44c41d77fa9d44c4edfb1e2435b1af11439929a0325f69a5f55</string>
			</dict>
			<key>BatteryLow1</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>12cb5dab7df2d23bf14396cbc7185031</string>
				<key>Key</key>
				<string>7f9e60a17d009511d378e0b657515689edc2f44cd2e1631051c9067a12355a02</string>
			</dict>
			<key>DeviceTree</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/DeviceTree.n90bap.img3</string>
				<key>IV</key>
				<string>8a094d51b66152d54d58668bb8ab71af</string>
				<key>Key</key>
				<string>ed6f17709ff82b7075f6211d2a4413e79920537af98f200bde56593ab89fdfd2</string>
			</dict>
			<key>GlyphPlugin</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
				<key>IV</key>
				<string>f3c171135e2aa04494ae89fd808b7601</string>
				<key>Key</key>
				<string>8161346ee2ed611659575a7115e07f7715474a523463d9fa98072aeaaf11b8d2</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/dfu/iBEC.n90bap.RELEASE.dfu</string>
				<key>IV</key>
				<string>94140a6e48e871eccce209276aa54a81</string>
				<key>Key</key>
				<string>f464b68b0786af820c21260a7030efec44c2d7a232e5c03f06794840444692cc</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/iBoot.n90bap.RELEASE.img3</string>
				<key>IV</key>
				<string>07a18c8146567e530aac43b30fe842c8</string>
				<key>Key</key>
				<string>23df0348091b2d968b391a45b88df6cbe08b9184b41995dad6f593340a6a177d</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/dfu/iBSS.n90bap.RELEASE.dfu</string>
				<key>IV</key>
				<string>a0e8e73770576dcc239e3a21c448bdfa</string>
				<key>Key</key>
				<string>8ce76d1af07845fb6551382d036836a2f67ea22dcbb7b50a027512b8fcbe8cac</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>FileName</key>
				<string>kernelcache.release.n90b</string>
				<key>IV</key>
				<string>159b03bf3f892d2b577da339fc1165e3</string>
				<key>Key</key>
				<string>46cf9ea7b878d2b95cc028852b90c8a1d5ff4164882ea2e05424bc5832538958</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/LLB.n90bap.RELEASE.img3</string>
				<key>IV</key>
				<string>f68140eaa1220d74516db594a8c68f71</string>
				<key>Key</key>
				<string>7d9f0ecc9486779d58d7a5ef23f2b9b7f966fb7d3c0f21c1bfabf0207532d47b</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n90bap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
				<key>IV</key>
				<string>203c50d4b6465b8b7e6dee5963ca4d41</string>
				<key>Key</key>
				<string>523bab0ec42f0ad7c2878048282300a0c8b1bb862d2aeffd4ea140435a744016</string>
			</dict>
			<key>FileSystem</key>
			<dict>
				<key>FileName</key>
				<string>048-8530-002.dmg</string>
				<key>VFDecryptKey</key>
				<string>3af025879520fdfcc965b9128e0d31121b4aca7788672c387eb51a2991e6bb27cf845518</string>
			</dict>
		</dict>
	</dict>
</plist>
