<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string></string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>350f6f6087435fed927ca415580a346d</string>
			<key>Key</key>
			<string>31538f778687a015819f5ca3910f4ac799e609b0b4c25046d7988bdac1d7a22f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>cd8e9c0097e1cd060c6082386b8c6968</string>
			<key>Key</key>
			<string>56959630d1f11b3f2e5ea866cde5489c6e836993956bf3c7fcfef503ec66868e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>ebe26f5dfef3759fd40e9169b3fd05cd</string>
			<key>Key</key>
			<string>20f3a8fe94eab2dceff18c6b157ff2c746c80ccf324d46e50d84f14fd904007b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>aa736922398df62dcb61ecaafe7aa642</string>
			<key>Key</key>
			<string>274471bed230fc82c84dd2736a1a8120ba5ecaf935ed98d18c72295c34108100</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>5687e2963d5c577f11dbf9bf9c72bb07</string>
			<key>Key</key>
			<string>ab5bd45113b2ebc88c1a3275c6cc4f313a91789c9ebda95100b65588183ebe32</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>f84c3f55cd042faf48008c9a5534990e</string>
			<key>Key</key>
			<string>8aeb02245dd67a9ca5b6ef9be171944e4ed54ae12c8013ebb971d93beaff882a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>a356ea57b645caf8ef726e0b45e31f0e</string>
			<key>Key</key>
			<string>35a22c23bdacdb9b12ddff6377952e73d6824b50d43efcac2bcf2a38b96949d5</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-0483-008.dmg</string>
			<key>VFDecryptKey</key>
			<string>ce4f08ee524802be39edf8ed91de298fe79c67f1a24f0f977e713a895365b921402210d8</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>2c068e3545eb337812f7f33483c1ccd8</string>
			<key>Key</key>
			<string>72559cc697cc8cb910154650df4a72182a55f67d905e4b6a3ab53e267a0fb29a</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>b79d75e32f43b1c6bd3988f39e8755f9</string>
			<key>Key</key>
			<string>bd40f5389c9b1539e4c42d251d20b71a015ff1d9002d21ebf86c0efab3b6dbfa</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>4361a89e2e9fe99890e9cf7763a100ed</string>
			<key>Key</key>
			<string>b8e391d15abe8d8bca05359b4da58117bcf3ccb48c53135352ac464565ea8a5a</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>cc3ef013515fd7f3423fafdbd6919e20</string>
			<key>Key</key>
			<string>a921ec2a361b332a00523b69cf8d634b13b53d4a8be480c7829abbe2450df7e2</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4a31f81f4a8f5574a2be4b27591600f7</string>
			<key>Key</key>
			<string>e6475d55ab8849873734cc29242c5580fa20303081c8e1dcc82d87e28c5b0bc6</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>637501fa9488727227d174ff4182ffb2</string>
			<key>Key</key>
			<string>f04ba018ff9b4036acf61c97eea2cb4b47a72c49dfc6daa2d19b6b54a3399274</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>54838362edfa6693805c36b78755b61d</string>
			<key>Key</key>
			<string>5a39a9234953df91e1793d726ea0c6562e623d43b80f88af75f8f70a46534c4a</string>
		</dict>
	</dict>
</dict>
</plist>
