<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS7/031-1831.20131114.P3wE4/iPhone3,1_7.0.4_11B554a_Restore.ipsw</string>
		<key>Version</key>
		<string>7.0.4</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>99c8021b5921fa42dcdc05493b2aac2a</string>
			<key>Key</key>
			<string>4f5f0d0ae5d1f776ef26afc8d155ef781683d5155aeb607f1dab350cb279ae1</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>8d9482550003e1b1d665bd75a4271965</string>
			<key>Key</key>
			<string>8e1901dc40bc777b62f1506a7b7afee991eac1491adf88282af799ba24893920</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>7cd61cc6bc22b15caeb1d9a20efe7ebd</string>
			<key>Key</key>
			<string>3680633f339f11fe7baf0749a52e2d801e57e26e269aff1c3cb5c17b754e81e0</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>f3f6e70bc213711de25e56ed21b4597f</string>
			<key>Key</key>
			<string>1e0c71bcfd26725c4084ce9f5a475c050b9da59585e4b720a4fa7e31896ade2</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>84cb0a87b10b3c2407c8a8844a5064e0</string>
			<key>Key</key>
			<string>7b0d1483fc5762dab0213ab10f81280866d19d0fc7af75f5c7d1fc1d1f4b51ff</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>6add29dcb2f6b5e7e2c0f4a1c887adbd</string>
			<key>Key</key>
			<string>0321839ad6468bdf7a66029f7cfd91ff60114e1bdd971c87f056a4fcee963fdc</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>a368fc9dfa9256b8f24afe973dff124c</string>
			<key>Key</key>
			<string>c187bdb0eb78c09761a83fbda30ceb342a1e1ea30193205e2714db458b70df7</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>a6215a9a7159702de620da648d441dd6</string>
			<key>Key</key>
			<string>bda691803a5d2145532a726136ed42cbc9ad72de28e0916ee4a0f1b7e3258145</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>55d8910130a73f430a513b783509eeae</string>
			<key>Key</key>
			<string>8a139440bf43769da1d46b965e4a40d318128561b6538529c1fc0661bcb2d019</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>67087ac7f28c77cdf9110356f476540b</string>
			<key>Key</key>
			<string>2a6940252b5cb19b86efb9005cdd5fd713290e573dc760f5a3e05df9e868bb89</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>531f37b0f6f2afbf28ebb6ede5fb6f21</string>
			<key>Key</key>
			<string>44c2233bc06d03514fb36430de396950dd5f89bfda9742045a933bf60570927c</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>afce264ccb21c493139317fff62e0fa5</string>
			<key>Key</key>
			<string>aee1c0b20c11c0ae764e07e6a5bc0e4b0c4995e59fae7316b444b9f8a6808d97</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>3eb5aa8acbe1386dc13e2673a2546128</string>
			<key>Key</key>
			<string>e3b72ddcdc89edf6f29258c7a0e65cba0d808d1a965892515bfff988e3fd5906</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>68b5ae23aaf433446f887e48a3847425</string>
			<key>Key</key>
			<string>f81c480dd065e410075c91eedc2051cc48e071caa49c55b8f447367905ba485</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-1139-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>252d81c8cbc9f645ca46635c0a554dbc5e9841578bed978902f385aa382f5182ac580ba3</string>
		</dict>
	</dict>
</dict>
</plist>
