<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS7/091-9485.20130918.Xa98u/iPhone3,1_7.0_11A465_Restore.ipsw</string>
		<key>Version</key>
		<string>7.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>d4ca7e1f04987ad8aba504aebc6c322f</string>
			<key>Key</key>
			<string>0f784be074c3655e3fdf62aa35a404cfea2b99c07e4262769256c00c1290b812</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>aaff8f992ecb0ca5617dfbcc71513232</string>
			<key>Key</key>
			<string>5bd1ce62399982911abd16d0447d3a7358e264c9ed0af1e0d8233ab64fbda2f0</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>7078f91525216ec1e92663fc8596f8a0</string>
			<key>Key</key>
			<string>f7a578ab5b44dccf02e21b92db716b62fa48a54b068a7cc3f89d7d1a1e40b455</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a55296d09345e6de1752c61adb2f7a1b</string>
			<key>Key</key>
			<string>1157f4ec0f313850accc6081cc3f605314171acac18509cee99cd09706caf0a4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>2831484e4671dc4ece842a8d41e5c0d0</string>
			<key>Key</key>
			<string>c6f24cc048fa455fedd789c89c6302accb2f129a3ebf11b525f4dcecc39a5cec</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>e192230b85dd41e6f2c38c725bce55bb</string>
			<key>Key</key>
			<string>27e9fb09aa1af2f3e690a74d6e077980f66e498a38f03b6e1383d845c73d8ece</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-3447-395.dmg</string>
			<key>VFDecryptKey</key>
			<string>89d4dadced94577508999a1ce2a08b346328d9b25ad4e63b4220ce441cce35cf9e0a108b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>279eea0b09cb3c457b6899fa050186be</string>
			<key>Key</key>
			<string>07bab5c3b8994b3cba70758476761292ab80775e0df3560317d90496b47f9885</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>080e73887ad47a8ef671d69a20328482</string>
			<key>Key</key>
			<string>38743f053530c6e9fb1a09e812c401d557ea74100c729e9224663b1091765bcb</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>47f7fabe7d2b7e5c690ba1688d86938f</string>
			<key>Key</key>
			<string>19fecfc9738a6fe171aead9a342cd254654b6bd891988b4cb96287d275d7f121</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9f230e3ea13fc10ea2f88d07c71b13bc</string>
			<key>Key</key>
			<string>bea3c03c08d99e6b1e5355115ec4e5734d0dd910f863c1cb16b65537743e8674</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1130fba9cd833f0147c31d278f6ced49</string>
			<key>Key</key>
			<string>a84eafdeeb0feae7339f35033e4c9d776c7676be97be7c79e1840dd54fe0db14</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5bf099d9db5cf1009329e527a378c8be</string>
			<key>Key</key>
			<string>e1fef31c8aabcdca2a3887ba21c0e2113c41a5617380657ab6a487993b39f9a8</string>
		</dict>
	</dict>
</dict>
</plist>
