<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string></string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>350f6f6087435fed927ca415580a346d</string>
			<key>Key</key>
			<string>31538f778687a015819f5ca3910f4ac799e609b0b4c25046d7988bdac1d7a22f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>cd8e9c0097e1cd060c6082386b8c6968</string>
			<key>Key</key>
			<string>56959630d1f11b3f2e5ea866cde5489c6e836993956bf3c7fcfef503ec66868e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>ebe26f5dfef3759fd40e9169b3fd05cd</string>
			<key>Key</key>
			<string>20f3a8fe94eab2dceff18c6b157ff2c746c80ccf324d46e50d84f14fd904007b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>aa736922398df62dcb61ecaafe7aa642</string>
			<key>Key</key>
			<string>274471bed230fc82c84dd2736a1a8120ba5ecaf935ed98d18c72295c34108100</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>5687e2963d5c577f11dbf9bf9c72bb07</string>
			<key>Key</key>
			<string>ab5bd45113b2ebc88c1a3275c6cc4f313a91789c9ebda95100b65588183ebe32</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>f84c3f55cd042faf48008c9a5534990e</string>
			<key>Key</key>
			<string>8aeb02245dd67a9ca5b6ef9be171944e4ed54ae12c8013ebb971d93beaff882a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/DeviceTree.n90bap.img3</string>
			<key>IV</key>
			<string>3ac7ccd3e7249a0b042518de04b9343f</string>
			<key>Key</key>
			<string>bed41ded6842cb7ade444c90eb127dc2388915303098f33d388b8b00f5482539</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-0506-008.dmg</string>
			<key>VFDecryptKey</key>
			<string>cf1e1a0648d0206295930ea012f5d4d268a2ec3f35c7100af216f13c839710e4cdd1271e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>2c068e3545eb337812f7f33483c1ccd8</string>
			<key>Key</key>
			<string>72559cc697cc8cb910154650df4a72182a55f67d905e4b6a3ab53e267a0fb29a</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90b</string>
			<key>IV</key>
			<string>5b682906f4d9428cd92a92c3bbc98042</string>
			<key>Key</key>
			<string>de125b19d17cff2649da66bf7a511b8836fc9a18788731df0eb5d6de850114be</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/LLB.n90bap.RELEASE.img3</string>
			<key>IV</key>
			<string>a111c2f53160ccb5edbb8830baf281f8</string>
			<key>Key</key>
			<string>213b41d965e29ad5999352d778fadd618a365269f3ec0ed44e053e5ed20806bb</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>cc3ef013515fd7f3423fafdbd6919e20</string>
			<key>Key</key>
			<string>a921ec2a361b332a00523b69cf8d634b13b53d4a8be480c7829abbe2450df7e2</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90bap.RELEASE.dfu</string>
			<key>IV</key>
			<string>eef8c64573c3d54252587e2fe03561b2</string>
			<key>Key</key>
			<string>9191311983d7bc7688d40f60557ec241e97331ee106ac8ce1d061665d409f167</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90bap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bbd93cd80b20ebf687837bcfecc93544</string>
			<key>Key</key>
			<string>19ad70f913ca4b59ef86edbcbaf33139318c4af62a1e0681d96e2fd94abc404d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/iBoot.n90bap.RELEASE.img3</string>
			<key>IV</key>
			<string>6d54e07c3c2762ca3dc41766bb03e6a4</string>
			<key>Key</key>
			<string>6ac9bd6c258643c0e94dfef7665fb530c6badd9d7b29bf4972f5524246768378</string>
		</dict>
	</dict>
</dict>
</plist>
