<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string></string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>f27389ccc5abcd14ef962983f2fdb264</string>
			<key>Key</key>
			<string>77e18d227a56d97767ede221c4d298e40cf9811c599ab47d8c7a55edacd701f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>629793156c1a4af3deb0fb4d4ca9e6a6</string>
			<key>Key</key>
			<string>35343bc3482477fc8bf00e9aab953a6a9a289b56e8b5a656cb5ab2d773c73b0e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>2ef6647ebdeb71719fbc30ed14d1fd8d</string>
			<key>Key</key>
			<string>38f197505213d032806477808588da0f2ee9030edfef8a121e4ef17f42ccea0c</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>688059f8766c0252fae65e1c866aa648</string>
			<key>Key</key>
			<string>dac339f322ac664337b4d04a4acb54372aa584442799ef268950f090d67a76f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>c0c321508f0c903d958076650f4660b8</string>
			<key>Key</key>
			<string>a5477d03de2ad9d4515a39e7c2453bdc8d506cff8f544aee98acd02f7969109f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>ad8cb6b0f72638a4acdb5a11d21666c8</string>
			<key>Key</key>
			<string>4647dc0cf26a6b4c856731e52c8fa3f814d9d900bec3e5a3e40611afb0e98b63</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>63476ddaf117a8f6128a48175d51e905</string>
			<key>Key</key>
			<string>2489debd9f15eac64247a15ef85278b05a7561d182a16d29da816106e1323ae</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-1665-005.dmg</string>
			<key>VFDecryptKey</key>
			<string>b0ed9989782652553ce9e182baf8c03b195cdd38c1434f49bbcf484f20f9b54bb59c58f3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>cabc7b1d5d1e246bb1259e193b8f11c6</string>
			<key>Key</key>
			<string>84a73d92982550e8d774b767ab053d13b0b832bf9ec7d17209ef039d58f9e2e1</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>af4607e1f3e440d11dd6b3ef3b89ff5e</string>
			<key>Key</key>
			<string>f545a97a3375d5a3e434ec51bcca0c4a82fe3c69f75057badc166c9bf45aeaff</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>2cb7d751e2d89c593c806e2dd816c89a</string>
			<key>Key</key>
			<string>b0c8727243d9ba2ee85f12d14a523201a0aceb2f4e870ae0b007663d9605d07e</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>5c1e9a4a529accbd27f44b4b69d7a6e4</string>
			<key>Key</key>
			<string>0a33f86eff42bf80f3d0e22b9d9f66279034732601dd11cd5dc6f9bf972f5b7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7556f252317dba9f685757096dfa141c</string>
			<key>Key</key>
			<string>e4ef6a352d24d2f823c4454646812541849e4b565219b4632511185a24dd18a0</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>82ef9414eef812e807e73e859e31f81e</string>
			<key>Key</key>
			<string>67bd371d7c0612933c80e317cccba5837b4736241b524addc11feffe5c7c2783</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e6aaa4514c3bd237ef4b9c6c1ad81f02</string>
			<key>Key</key>
			<string>6b355b653e32a3746ea6d37c110980777bb7e09aae97a013bb1278240731c0db</string>
		</dict>
	</dict>
</dict>
</plist>
