<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>FirmwareInfo</key>
		<dict>
			<key>URL</key>
			<string>http://appldnld.apple.com/iOS7/091-9794.20130924.umlNu/iPhone3,3_7.0.2_11A501_Restore.ipsw</string>
			<key>Version</key>
			<string>7.0.2</string>
		</dict>
		<key>FirmwareKeys</key>
		<dict>
			<key>AppleLogo</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>8aff845bf509596849378a95c1886929</string>
				<key>Key</key>
				<string>45c4a90d7ad31142ba74a540dacfc18d394b9e915e5ebe63f1bbc8ab65e9e0aa</string>
			</dict>
			<key>BatteryCharging0</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>e514cf889d2ca7bcb732211384ba7eb4</string>
				<key>Key</key>
				<string>22f25a0d8467518235e3bd6fcc1df8956a924d54dc3c258317a51843d10c47d6</string>
			</dict>
			<key>BatteryCharging1</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>d3e9cf59f01dddc0cba739c9d0821e04</string>
				<key>Key</key>
				<string>437ac2ca6e965055c84e5c1dcbd8c9be6ccc330a638403d26e0ca10aae3655b9</string>
			</dict>
			<key>BatteryFull</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>39664bd44d34b22b2e55e62031503cad</string>
				<key>Key</key>
				<string>1d1e7aa8f5d62188aefe209c9b53beab3d8744506ccd86a9efb5c636322f4b08</string>
			</dict>
			<key>BatteryLow0</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>d36d9b664f1341000dec1893bb9836c3</string>
				<key>Key</key>
				<string>0ec651c99975a44c41d77fa9d44c4edfb1e2435b1af11439929a0325f69a5f55</string>
			</dict>
			<key>BatteryLow1</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
				<key>IV</key>
				<string>12cb5dab7df2d23bf14396cbc7185031</string>
				<key>Key</key>
				<string>7f9e60a17d009511d378e0b657515689edc2f44cd2e1631051c9067a12355a02</string>
			</dict>
			<key>DeviceTree</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
				<key>IV</key>
				<string>322eb13b21b94544d758109d8560fbae</string>
				<key>Key</key>
				<string>4230ccc337d133de5683c38008f200230c4e5f7d714a18584cc4308a4f8a5353</string>
			</dict>
			<key>GlyphPlugin</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
				<key>IV</key>
				<string>f3c171135e2aa04494ae89fd808b7601</string>
				<key>Key</key>
				<string>8161346ee2ed611659575a7115e07f7715474a523463d9fa98072aeaaf11b8d2</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
				<key>IV</key>
				<string>a5720646d21e95375d5eb5b62901cc60</string>
				<key>Key</key>
				<string>f59a689acb0afa16d490cea1bc95532cc410a0f4565c7996008d5f58abb4b676</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
				<key>IV</key>
				<string>12ffa21dfe0aaa1ffca81d84fd90762a</string>
				<key>Key</key>
				<string>7924350d139bf42e63ca815acc7addb085a1487a37a54f454f23649713fcfa54</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
				<key>IV</key>
				<string>65ee13daf0e6704d8ad7a3c62ce5085b</string>
				<key>Key</key>
				<string>50080239f7fcd1c3cf2beb72b6e148ccb1464ed8aed68f2fbefe1f74e5460deb</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>FileName</key>
				<string>kernelcache.release.n92</string>
				<key>IV</key>
				<string>96c36360fdd3569b0d554693ee7bbead</string>
				<key>Key</key>
				<string>7465c5d94f93d466a0e7bc0134a1e7232d81a7f630a5ad128c64e0698df20811</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
				<key>IV</key>
				<string>3dde2283cab8a2f34c796884ef45c538</string>
				<key>Key</key>
				<string>28050fce205f346d6cd3cb57cafd02fa1a421b40f11880f6611cadd254bdb936</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>FileName</key>
				<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
				<key>IV</key>
				<string>203c50d4b6465b8b7e6dee5963ca4d41</string>
				<key>Key</key>
				<string>523bab0ec42f0ad7c2878048282300a0c8b1bb862d2aeffd4ea140435a744016</string>
			</dict>
			<key>FileSystem</key>
			<dict>
				<key>FileName</key>
				<string>048-8474-002.dmg</string>
				<key>VFDecryptKey</key>
				<string>275e2888319e485baa43efd2038f1e6f4b2e55c45d3ebbfe59cb0900a33bce0bda4b9453</string>
			</dict>
		</dict>
	</dict>
</plist>
