<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string></string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>350f6f6087435fed927ca415580a346d</string>
			<key>Key</key>
			<string>31538f778687a015819f5ca3910f4ac799e609b0b4c25046d7988bdac1d7a22f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>cd8e9c0097e1cd060c6082386b8c6968</string>
			<key>Key</key>
			<string>56959630d1f11b3f2e5ea866cde5489c6e836993956bf3c7fcfef503ec66868e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>ebe26f5dfef3759fd40e9169b3fd05cd</string>
			<key>Key</key>
			<string>20f3a8fe94eab2dceff18c6b157ff2c746c80ccf324d46e50d84f14fd904007b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>aa736922398df62dcb61ecaafe7aa642</string>
			<key>Key</key>
			<string>274471bed230fc82c84dd2736a1a8120ba5ecaf935ed98d18c72295c34108100</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>5687e2963d5c577f11dbf9bf9c72bb07</string>
			<key>Key</key>
			<string>ab5bd45113b2ebc88c1a3275c6cc4f313a91789c9ebda95100b65588183ebe32</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>f84c3f55cd042faf48008c9a5534990e</string>
			<key>Key</key>
			<string>8aeb02245dd67a9ca5b6ef9be171944e4ed54ae12c8013ebb971d93beaff882a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>1b48d897412233d522cea2142acae6e3</string>
			<key>Key</key>
			<string>4839184140263f39698760fdb61414bb2428b37e0775a8c79f68730031d21bf7</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-0477-008.dmg</string>
			<key>VFDecryptKey</key>
			<string>16bc00204c00ffcb8e4a2e59e75377d88caa7c0cfdc9751a04c3a76f098e3f1ff5b5440a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>2c068e3545eb337812f7f33483c1ccd8</string>
			<key>Key</key>
			<string>72559cc697cc8cb910154650df4a72182a55f67d905e4b6a3ab53e267a0fb29a</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>1b181e94237bc71545b1813042f07c25</string>
			<key>Key</key>
			<string>22c9b60c47ef21029d38f97d9fc8bda9eab12bb661520d58c945c4ef17a4ef4e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>fa6d201a3c10072ec1843d0609b73f50</string>
			<key>Key</key>
			<string>8305ee924da7ade398752cddcd8a82b7d23314f9d4ea4069c5dbbd5806ffb41c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>cc3ef013515fd7f3423fafdbd6919e20</string>
			<key>Key</key>
			<string>a921ec2a361b332a00523b69cf8d634b13b53d4a8be480c7829abbe2450df7e2</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>76fbd42a18122828f8e8b29b3e526c7c</string>
			<key>Key</key>
			<string>9638f742fe196aed5387ee125156ec54f2a78e455d9cb06fbb9d3a48b9a8b086</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>dcefee121c121f61be4af55049b09a21</string>
			<key>Key</key>
			<string>1a5587439c16b36f1ecc3053be07130d39d2c0d8e565d011a3e012053e9e1c63</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>c97743bedf0d6a4ecf17fc60127124e0</string>
			<key>Key</key>
			<string>00571a7cd42a8f6712462578a09e7183ea4a01a2b07f6ab0b324b4f0d8c07f65</string>
		</dict>
	</dict>
</dict>
</plist>
