<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS7/091-9469.20130918.XXW3g/iPhone3,2_7.0_11A465_Restore.ipsw</string>
		<key>Version</key>
		<string>7.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>d4ca7e1f04987ad8aba504aebc6c322f</string>
			<key>Key</key>
			<string>0f784be074c3655e3fdf62aa35a404cfea2b99c07e4262769256c00c1290b812</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>aaff8f992ecb0ca5617dfbcc71513232</string>
			<key>Key</key>
			<string>5bd1ce62399982911abd16d0447d3a7358e264c9ed0af1e0d8233ab64fbda2f0</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>7078f91525216ec1e92663fc8596f8a0</string>
			<key>Key</key>
			<string>f7a578ab5b44dccf02e21b92db716b62fa48a54b068a7cc3f89d7d1a1e40b455</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a55296d09345e6de1752c61adb2f7a1b</string>
			<key>Key</key>
			<string>1157f4ec0f313850accc6081cc3f605314171acac18509cee99cd09706caf0a4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>2831484e4671dc4ece842a8d41e5c0d0</string>
			<key>Key</key>
			<string>c6f24cc048fa455fedd789c89c6302accb2f129a3ebf11b525f4dcecc39a5cec</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/DeviceTree.n90bap.img3</string>
			<key>IV</key>
			<string>2003f94e8b5cf76ff63487f448f277d1</string>
			<key>Key</key>
			<string>8aa48b38a2c9419e164eda17225eab5c6e89defb444dbe444687330e319b9df4</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>279eea0b09cb3c457b6899fa050186be</string>
			<key>Key</key>
			<string>07bab5c3b8994b3cba70758476761292ab80775e0df3560317d90496b47f9885</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90b</string>
			<key>IV</key>
			<string>cbca1bbfd2a3ba0b1ac4af725dc45165</string>
			<key>Key</key>
			<string>ec62d1e9bd2cd1aca7fc83ba6f7d1a1618c299535fea855bae286a85fe80fbe7</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/LLB.n90bap.RELEASE.img3</string>
			<key>IV</key>
			<string>d8ddce814b298f1e0adf841724bd166f</string>
			<key>Key</key>
			<string>066418f349071b932e77f6bdc39d37745df70628cbc95afa27b0e7bd7783e6ae</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90bap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a8e129bd1a45f7c8214da09d519c4674</string>
			<key>Key</key>
			<string>903eed8b55145c6dab7a9ca43bf4190bd0d197791dbee1ee5919fd0b8b051742</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90bap.RELEASE.dfu</string>
			<key>IV</key>
			<string>35735b3c06b023ae0d56b0943f2191f9</string>
			<key>Key</key>
			<string>b5be0caa8feda1c0646b44091cc62da37cf2426ba7f80b3f6deae7d4a0d9a6d0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/iBoot.n90bap.RELEASE.img3</string>
			<key>IV</key>
			<string>bba7ce5f04f36a2e774e6760993fc0f6</string>
			<key>Key</key>
			<string>07d2adfe371ade692a36b67979d1951dbba7824a3ec652b4c48e20d24c611503</string>
		</dict>
	</dict>
</dict>
</plist>
