<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>FirmwareInfo</key>
        <dict>
                <key>URL</key>
                <string>http://appldnld.apple.com/iOS7/031-1748.20131114.P3wE4/iPhone3,2_7.0.4_11B554a_Restore.ipsw</string>
                <key>Version</key>
                <string>7.0.4</string>
        </dict>
        <key>FirmwareKeys</key>
        <dict>
                <key>AppleLogo</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/applelogo@2x~iphone.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>99c8021b5921fa42dcdc05493b2aac2a</string>
                        <key>Key</key>
                        <string>4f5f0d0ae5d1f776ef26afc8d155ef781683d5155aeb607f1dab350cb279ae1</string>
                </dict>
                <key>BatteryCharging0</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>8d9482550003e1b1d665bd75a4271965</string>
                        <key>Key</key>
                        <string>8e1901dc40bc777b62f1506a7b7afee991eac1491adf88282af799ba24893920</string>
                </dict>
                <key>BatteryCharging1</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>7cd61cc6bc22b15caeb1d9a20efe7ebd</string>
                        <key>Key</key>
                        <string>3680633f339f11fe7baf0749a52e2d801e57e26e269aff1c3cb5c17b754e81e0</string>
                </dict>
                <key>BatteryFull</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>f3f6e70bc213711de25e56ed21b4597f</string>
                        <key>Key</key>
                        <string>1e0c71bcfd26725c4084ce9f5a475c050b9da59585e4b720a4fa7e31896ade2</string>
                </dict>
                <key>BatteryLow0</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>84cb0a87b10b3c2407c8a8844a5064e0</string>
                        <key>Key</key>
                        <string>7b0d1483fc5762dab0213ab10f81280866d19d0fc7af75f5c7d1fc1d1f4b51ff</string>
                </dict>
                <key>BatteryLow1</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>6add29dcb2f6b5e7e2c0f4a1c887adbd</string>
                        <key>Key</key>
                        <string>0321839ad6468bdf7a66029f7cfd91ff60114e1bdd971c87f056a4fcee963fdc</string>
                </dict>
                <key>DeviceTree</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/DeviceTree.n90bap.img3</string>
                        <key>IV</key>
                        <string>f0d4137320f2d85c6dd7c629531b6af5</string>
                        <key>Key</key>
                        <string>3c0a630b7b72def751f6fd68cc0077a5ca15775b62bf1eb094fa210eca30b292</string>
                </dict>
                <key>GlyphPlugin</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>a6215a9a7159702de620da648d441dd6</string>
                        <key>Key</key>
                        <string>bda691803a5d2145532a726136ed42cbc9ad72de28e0916ee4a0f1b7e3258145</string>
                </dict>
                <key>iBEC</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/dfu/iBEC.n90bap.RELEASE.dfu</string>
                        <key>IV</key>
                        <string>9bc54cf0fba0fb5243b8232b751712b8</string>
                        <key>Key</key>
                        <string>961995ef28afd02cbef76e3931ab8db61f95dad6c2fc44fe8e558bda807f30be</string>
                </dict>
                <key>iBoot</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/iBoot.n90bap.RELEASE.img3</string>
                        <key>IV</key>
                        <string>c1c1b9642690a9a8f033ac53a6fc0917</string>
                        <key>Key</key>
                        <string>ce0dc61b26ec75385301d71004b19fa9ddde0ce361948f1847ed2c2d3b765d3f</string>
                </dict>
                <key>iBSS</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/dfu/iBSS.n90bap.RELEASE.dfu</string>
                        <key>IV</key>
                        <string>36ab037ab6575586fb1f0bf699a821a0</string>
                        <key>Key</key>
                        <string>64a1ae6900165da333f07f0cbf281d01c75012fd1281d60e5ea2b5966c0af805</string>
                </dict>
                <key>KernelCache</key>
                <dict>
                        <key>FileName</key>
                        <string>kernelcache.release.n90b</string>
                        <key>IV</key>
                        <string>3bf52fb906a2cb1587913ef3eb5e9089</string>
                        <key>Key</key>
                        <string>9152822bac2b1e88ffa1375650665e38f08352344046dc2c5305ce567b22391e</string>
                </dict>
                <key>LLB</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/LLB.n90bap.RELEASE.img3</string>
                        <key>IV</key>
                        <string>fc6a9b1568906c7938984d69d7f8c0a2</string>
                        <key>Key</key>
                        <string>f8a153f280c0fb5130e0bb657edf1333e83b729cb29530970d6cfaa1d6e866e1</string>
                </dict>
                <key>RecoveryMode</key>
                <dict>
                        <key>FileName</key>
                        <string>Firmware/all_flash/all_flash.n90bap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
                        <key>IV</key>
                        <string>68b5ae23aaf433446f887e48a3847425</string>
                        <key>Key</key>
                        <string>f81c480dd065e410075c91eedc2051cc48e071caa49c55b8f447367905ba485</string>
                </dict>
                <key>FileSystem</key>
                <dict>
                        <key>FileName</key>
                        <string>058-1136-002.dmg</string>
                        <key>VFDecryptKey</key>
                        <string>83967a68fd45c208ed5f2ea41789e7dae7285ff355d4779b8dbbc8e1394d93430bfcc212</string>
                </dict>
        </dict>
</dict>
</plist>
